* {
  font-family: 'Poppins', sans-serif;
}

.light {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 157.61px;
  align-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 0rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

nav {
  position: relative;
  z-index: 70;
}

#nav-bg-color {
  padding-top: 25px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-transparent.scrolled {
  background: #FFFF !important;
  shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 70px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.main-menu {
  margin-left: 4.5rem;
}

.links a {
  color: var(--lightTwo);
  /* margin-left: 4.5rem; */
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text {   
  font-size: 15.5px;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
}

.toggle-struktur {
  /* line-height: 39px; */
  /* padding-bottom: 5%; */
  padding-top: 2%;
  text-align: center;
  color: #000;
}

.enter {
  padding-top: 2%;
}

#desc-grid {
  padding-top: -20%;
  text-align: center;
}

.big-wrapper.light .toggle-struktur i:last-child {
  display: none;
}

.big-wrapper.light .toggle-struktur i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-struktur i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-struktur i:first-child {
  display: none;
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: #fff;
    margin-left: 0;
  }

  .links .btn {
    background: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .big-wrapper.active .main-menu {
    padding-top: 50%;
    margin-right: 10%;
    margin-left: -10%;
  }

  .showcase-area {
    padding: 5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .monju {
    width: 100%;
    transform: none;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}

#container-anggaran {
  padding: 60px 30px;
}

/* menu dropdown */
.dropbtn {
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: 35%;
  margin-top: 3%;
}

.dropdown-content-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-menu li:hover {
  background-color: #f1f1f1}

.dropdown:hover .dropdown-content-menu {
  display: block;
} 
/* End menu dropdown */

/* Deskripsi rekapitulasi pendapatan daerah */
.card-text {
  font-size: 15px;
  text-align: justify;
  margin-top: -10%;
}

.card-text-khusus{
  font-size: 13.5px;
  text-align: justify;
  margin-top: -10%;
}

.total-dana {
  text-align: center;
  padding-top: 2%;
  font-size: 13px;
}

.dana-perimbangan {
  width: 58%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.pendapatan-asli {
  width: 44%;
}

/* Grid 4 - Pendapatan asli daerah */
.icon-grid {
  width: 30%;
}

.icon-grid-custom {
  width: 33.8%;
}

.icon-grid-lain-lain {
  width: 52%;
}

.card-text-grid4 {
  font-size: 15px;
  text-align: justify;
  margin-top: -8%;
}

.card-title {
  margin-top: 10%;
}

.nominal {
  margin-top: 5%;
}

.menu-pendapatan-asli {
  padding-top: 5%;
}

.card {
  height: 100%;
}

/* .lihat-rincian { */
  /* margin-top: 62%; */
/* } */

/* CSS Grid 3 Dana Perimbangan */
.grid-dana-perimbangan {
  padding-top: 10%;
}

.tombol-dana-perimbangan {
  padding-top: 3%;
}

.tombol-dana-perimbangan1 {
  padding-top: 10%;
}

.tombol-dana-perimbangan2 {
  padding-top: 10%;
}

#img-pajak-daerah {
  width: 155px;
}

/* CSS Lain Lain Pendapatan yang sah */
#img-dana-bagi-hasil {
  margin-top: -25px;
}

#nominal-dana-bagi-hasil{
  margin-top: -2px;
}

#img-pendapatan-hibah {
  width: 70%;
  margin-top: 8px;
}

#nominal-pendapatan-hibah {
  margin-top: 17%;
}

#img-bantuan-keuangan {
  width: 68%;
  margin-top: -15px;
}