/* ---------------------- Scroll up button-------------------------- */
html {
  scroll-behavior: smooth;
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
  background-color: #69c1ff !important;
  /* background: conic-gradient(rgb(47, 3, 204) 45%, rgb(215, 215, 215) 45%) !important; */
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}
/* ----------------------- End Scroll Up Button ----------------------- */

* {
  font-family: 'Poppins', sans-serif;
}

.light {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 0rem 0 0rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

nav {
  position: relative;
  z-index: 70;
}

#nav-bg-color {
  padding-top: 25px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-transparent.scrolled {
  background: #FFFF !important;
  shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 70px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: var(--lightTwo);
  margin-left: 0rem;
  display: inline-block;
  transition: 0.3s;
}

.main-menu {
  margin-left: 4.5rem;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

.toggle-struktur {
  line-height: 39px;
  padding-bottom: 2%;
  text-align: center;
  color: #000;
}

.big-wrapper.light .toggle-struktur i:last-child {
  display: none;
}

.big-wrapper.light .toggle-struktur i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-struktur i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-struktur i:first-child {
  display: none;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: #fff;
    margin-left: 0;
    /* padding: 2rem 0; */
  }

  .main-menu {
    margin-left: 4.5rem;
  }

  .links .btn {
    background: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .big-wrapper.active .main-menu {
    padding-top: 50%;
    margin-right: 10%;
    margin-left: -10%;
  }

  .showcase-area {
    padding: 5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  #card-btn {
    padding-left: 35px;
  }

}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }

  #card-btn {
    padding-left: 35px;
  }
}

#container-anggaran {
  padding: 80px 30px;
}

/* menu dropdown */
.dropbtn {
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: 35%;
  margin-top: 3%;
}

.dropdown-content-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-menu li:hover {
  background-color: #f1f1f1}

.dropdown:hover .dropdown-content-menu {
  display: block;
} 

/* Proses APBD */
.desc-about {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

/* Frame Data Anggaran */
.icon-data-anggaran {
  position: absolute;
  z-index: 2;
  margin-left: 30px;
  margin-top: -110px;
  margin-right: 80%;
}

.frame-data-anggaran {
  z-index: -1;
}

.image {
  width: 80px;
}

.tahun-APBD {
  font-size: 30px;
  margin-top: 6px;
  margin-left: 80px;
  color: #312f3a;
}

@media screen and (max-width: 470px) {
  .icon-data-anggaran {
    margin-left: 20px;
    margin-top: -70px;
    margin-right: 80%;
  }

  .image{
    width: 50px !important;
  }

  .tahun-APBD {
    font-size: 16px;
    margin-left: 45px;
  }

  #card-btn {
    padding-left: 35px;
  }
}

.img2 {
  display: none;
}

.container-hover:hover .img1{
  display: none;
}

.container-hover:hover .img2{
  display: block;
}

.anggaran-pertahun {
  padding-top: 30px;
}

/* Custom CSS data Anggaran */

#card-btn {
  padding-top: 25px;
}

.icon-apbd {
  position: absolute;
  width: 25%;
  margin-left: -25%;
  margin-top: -6%;
}

.icon-apbd:hover {
  animation: ro 2s linear infinite;
}

@keyframes ro {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-tahunan {
  width: 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.container-tahunan .card {
  position: relative;
  border-radius: 10px;
}

.container-tahunan .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  z-index: 1;
}

.container-tahunan .card:nth-child(1) .icon {
  background: #B0DEFF;
}
.container-tahunan .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  transition: 0.7s;
  color: #fff;
}

b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
  text-align: center;
}

.container-tahunan .card .face {
  width: 250px;
  height: 200px;
  transition: 0.5s;
}

.container-tahunan .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* transform: translateY(100px); */
}

.container-tahunan .card:hover .face.face1{
  transform: translateY(0px);
}

.container-tahunan .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0,0,0,0.7);
  transform: translateY(-200px);
}

.container-tahunan .card:hover .face.face2{
  transform: translateY(0);
}

.container-tahunan .card .face.face2 .content p {
  margin: 0;
  padding: 3%;
  text-align: center;
}

/* @media screen and (max-width: 1080px) {
  .icon-data-anggaran {
    margin-left: 20px;
    margin-top: -70px;
    margin-right: 80%;
  }

  .image{
    width: 50px !important;
  }

  .tahun-APBD {
    font-size: 25px;
    margin-left: 60px;
    margin-top: -15px;
  }
}

.img2 {
  display: none;
}

.container-hover:hover .img1{
  display: none;
}

.container-hover:hover .img2{
  display: block;
} */

/* :::::::::::::: START FOOTER ::::::::::::::*/
section.footeer{
  padding-top: 20px;
  margin-left: -55px;
  margin-right: -30px;
}

#logo-open-data {
  width: 100%;
}

.row a.navbar-brand img{
  margin-left: -25px;
}

.row .col-lg-6{
  width: 10%;
}

.row .col-lg-3{
  width: 18%;
}

.footeer .bg-footer{
  
}

.bg-footer h5.tuppercase{
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}

.bg-footer li a.twhite{
  color: #000000;
  text-transform: capitalize;
  font-size: 16px;
}

.bg-footer .tcenter{
  color: #000000;
  text-align: center;
}

.klmitra{
  display: grid;
  row-gap: 0px;
  grid-template-columns: auto auto auto;
  background-color: none;
  padding: 0px;
  width: 250px;
  margin-left: 70px;
  margin-bottom: 20px;
}

.klmitra .g-col-6{
  background-color: #D9D9D9;
  border-radius: 10px;
  text-align: center;
  margin-inline: 0px;
  width: 70px;
  height: 70px;
}

@media only screen and (max-width: 1044px) {
  .footeer{
      width: 700px;
  }

  #logo-open-data {
    width: 100rem;
  }
}

/* :::::::::::::: END FOOTER ::::::::::::::*/



